/*******************/
/*** MAIN COLOR ****/
/*******************/

// Fonts and background
$color-main: #FF0000;
$color-dark: #020203;

// Charts
$grey-light: #FBFBFB;
$grey-dark: #282D30;
$red-dark: #E60000;