main {


    display: flex;
    flex-direction: column;

    div {
        background-color: aquamarine;
        max-width: 906px;
        max-height: 688px;
        height: 80vh;
        width: 100%;
    }
}