@use "../base/index" as *;

.temporary-container {
    
    h1, h2 {
        margin-bottom: 1rem;
        span {
            color: $color-main;
        }
    }

    .temporary-container__links {
        margin-top: 2rem;

        a {
            color: $color-main;
            margin-right: 30px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
