@use "../base/index" as *;

header,
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

header {
    justify-content: start;
    align-items: center;
    gap: 6rem;
    background-color: $color-dark;
    box-shadow: 0px 4px 4px 0px #00000040;
    height: $header-height;
    width: 100%;

    .mainlogo {
        max-height: 60px;
        margin-left: 2%;
    }

    .navbar {
        width: 100%;
        margin-right: 6rem;

        ul {
            list-style: none;
            padding: 0;
            justify-content: space-between;

            li,
            a {
                color: white;
                font-weight: $font-weight-bold;
                font-size: 1.5rem;
            }
        }
    }
}