@use "../base/index" as *;

main {
    min-height: 100%;
    height: calc(100vh - $header-height);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    position: relative; // to fix the second navbar

    .main-container {
        width: 82%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}